/* ContactUs.css */

/* Center the heading and breadcrumbs */
.heading-container {
  text-align: center;
  border: 1px solid #ccc;
  padding: 20px;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/156905/profile/profile-512.jpg?1530296477");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Container for the left and right sections */
.contact-container {
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
}

/* Style for the left section (Address, Email, Call, Open Timing) */
.left-section {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  // margin-left: 50px;
}

/* Style for the right section (Map, Form, etc.) */
.right-section {
  padding-left: 50px;
}

/* Style for each individual contact item */
.left-item {
  margin-bottom: 20px;
}

/* Style for icons */
.left-item svg {
  vertical-align: middle;
  margin-right: 5px;
}

/* Center text in the contact items */
.left-section h4,
.left-section p {
  text-align: center;
}

/* Style for the Quick Contact section */
.quick-contact {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 30px;
}

.quick-contact h2 {
  text-align: center;
  font-size: 24px;
  // padding-top: 20px;
}

.quick-contact form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 10px;
}

.input-group label {
  font-weight: bold;
}

.input-group input,
.input-group textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: darkred;
}

.contact-container {
  .social-icons {
    gap: 20px;
    display: flex;
    justify-content: center;

    a {
      color: black;
    }
  }
}
.input-group {
  display: block !important;
  label {
    display: block;
  }
}
.input-group input,
.input-group textarea {
  width: 70%;
  margin-top: 15px;
  height: 40px !important;
}

.submit__btn {
  border-radius: 5px;
}

/* YourComponentStyles.css */

.gallery__card {
  position: relative;
  // width: 200px; /* Adjust the width as needed */
  // height: 300px; /* Adjust the height as needed */
  overflow: hidden;
}

.gallery__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.gallery__card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.gallery__card button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  z-index: 2;
  background-color: #fff; /* Button background color */
  color: #000; /* Button text color */
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.gallery__card:hover img {
  transform: scale(1.1); /* Adjust the scale factor as needed */
}

.gallery__card:hover::before {
  opacity: 1;
}

.gallery__card:hover button {
  opacity: 1;
}

.gallery__content {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.landing__page {
  background: url("./images/banner-bg.png") no-repeat fixed center;
  background-size: cover;
}

.features__card {
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.features__card:hover {
  transform: scale(1.05);
}

.gallery__video-content,
.gallery__photo-content {
  display: flex !important;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.sub-Title {
  color: black;
  display: flex;
  cursor: pointer;
  justify-content: center;
  padding: 5px;

  &:hover{
    color: red;
  }
}

@media (max-width: 768px) {
  .right-section {
    padding-left: 0;
  }
  .contact-container{
    flex-direction: column;
  }
  .input-group input, .input-group textarea {
    width: 90%;
  }

  .heading__content{
    padding: 30px;
  }

  .i-sidemenu .sidemenu-hover.toggled {
    width: 45px !important;
    min-width: 45px !important;
}
}


