.footer {
  background-color: #000000;
  padding: 30px;
  ul {
    list-style-type: none;
    padding: 0;
    li {
      a {
        text-decoration: none;
        color: white; /* Set the text color for links in the Quick links list */
        transition: color 0.5s;
        &:hover {
          color: red; /* Set the text color to red when hovering */
        }
      }
    }
  }
}

.test {
  background-color: #000000;
}
.footer__bottom {
  background-color: grey;
}

.footer__right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons {
  gap: 20px;
  display: flex;

  a {
    color: rgb(233, 209, 209);
    transition: color 0.5s;
    &:hover {
      color: red; /* Set the text color to red when hovering */
    }
  }
}

.footer__mail {
  color: white;
}

.footer__bottom {
  background-color: #212122;
  text-align: center;
}

.future__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  background-image: url("./images/contact-us1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer-disclaimer {
  text-align: center;

  a {
    color: rgb(246, 240, 240);
    transition: color 0.5s;
    padding-right: 15px;
    border-right: 2px solid white;
    &:hover {
      color: red; /* Set the text color to red when hovering */
    }
  }
  a.link:last-child {
    border-right: none; /* Remove the vertical line from the last link */
  }
}

.header__hover {
  position: relative;
}

.header__hover::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0; /* Start with no width */
  height: 2px;
  background-color: #fff; /* Change the color as needed */
  transition: width 0.3s ease-out; /* Transition only the width property */
}

/* Increase width on hover */
.header__hover:hover::after {
  width: 100%;
}

.current__affairs {
  text-decoration: none;
  color: white;
}

.notify__header {
  cursor: pointer;
}

.navigation__gallery-dropdown {
  position: absolute;
  // display: none;
  right: -50px;
  bottom: -20px;
  padding: 20px;
  background-color: white;
  // z-index: 1001;
}

.navigation__gallery:hover {
  .navigation__gallery-dropdown {
    display: block !important; /* Show the dropdown when hovering over the Gallery element */
  }
}

.navigation__gallery-dropdown:hover {
  background-color: unset !important;
}



.course__content {
  display: flex;
}


.text__left {
  display: flex;
  justify-content: center;
  padding: 5px;
  align-items: center;
  min-width: 450px;
  max-width: 450px;
  height: 50px;
  border: 1px solid grey;
}

.courses__header {
  background: red;
  color: white;
  display: flex;
  /* min-width: 300px; */
  justify-content: center;
  width: 450px;
  min-width: 450px;
  max-width: 450px;
  height: 50px;
  padding: 5px;
  font-size: 30px;
}


/* Responsive styles for smaller screens */
@media (max-width: 992px) {
  .footer-text {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-text > div {
    width: 100%;
    margin-bottom: 20px;
  }

  .social-icons {
    justify-content: center;
  }

  .footer-disclaimer {
    padding: 15px;
  }
  .address__text{
    justify-content: center;
  }
  .feature__card{
    margin-top: 50px !important;
  }
  .demo__content{
    flex-wrap: wrap;
  }
}



//result page responsive


@media (max-width: 768px) {
  .card__result{
    margin-top: 30px;
  }

  .result__container {
    margin-top: 0 !important;
    margin-bottom: 20px !important;
  }
.popular-courses-container{
  display: flex;
  flex-direction: column;
  align-items: center;

  .course-list{
    display: block;
  }
}


}

.video-responsive {
  width: 100%;
  max-width: 400px; /* Adjust the maximum width as needed */
  margin: 0 auto;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .video-responsive {
    max-width: 100%; /* Set to 100% for smaller screens */
  }
  .product-item {
    height: unset !important;
    min-width: 300px !important;
  }

  .navigation__container{
padding: 30px !important;
  }

  .view-more-button {
    margin-right: unset !important ;
  }
  .view__products{
    justify-content: center;
  }
}
