.faq-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  .heading{
    text-align: center;
  }
  
  .faq-list {
    list-style: none;
    padding: 0;
  }
  
  .faq-question {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 10px 0;
    padding: 20px;
    border: 0.5pxpx solid #ccc;
    border-radius: 5px;
    transition: background-color 0.2s;
  }
  
  .faq-question:hover {
    background-color: #f0f0f0;
  }
  
  .faq-question span {
    flex-grow: 10;
    font-weight: bold;
  }
  
  .faq-answer {
    margin: 10px 0;
    padding: 10px;
    background-color: #f0f0f0;
    border: 0px solid #ccc;
    border-radius: 5px;
  }
  
  .faq-answer p {
    margin: 0;
  }
  