/* Global Styles */
body {
    font-family: Arial, sans-serif;
  }
  
  /* Product Page Styles */
  .product-page {
    text-align: center;
  }
  
  .heading{
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
  }
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
    gap: 20px; /* Adjust the gap as needed */
  }
  
  .product-item {
    border: 1px solid #ddd;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    position: relative;
    transition: background-color 0.3s;
  }
  
  .product-item h2 {
    margin: 0;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .product-item:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
  }
  
 /* Sub-products Styles */
 .sub-products {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: white;
  padding: 10px;
  border: 1px solid #ddd;
}

/* Override opacity for active sub-products */
.product-item.active .sub-products {
  opacity: 1; /* Make it fully opaque */
}
  
  
  .sub-products ul {
    list-style: none;
    padding: 0;
  }
  
  .sub-products li {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px 0;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  
  /* Active Product Styles */
  .product-item.active .sub-products {
    display: block;
  }



  .product-item{
  color: black;
  background-color: #FFC0C7;
  padding: 24px;
  width: 500px;
  height: 150px;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.product__contents{
  display: flex;
  align-items: center;
  height: 200px;
  flex-direction: column;
}

.product__item{
  color: black;
  background-color: blueviolet;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  min-width: 340px;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
