.i-sidemenu {
    position: fixed;
    top: 35%;
    z-index: 9999;
  
    .sidemenu-hovered{
        width: 50px !important;
        min-width: 50px !important;
    }
    
    .sidebar-content{
        background-image: linear-gradient(to right, red, blue);
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    
        li {
            margin: 10px 0 !important;
            &:first-child{
                margin-top: 0 !important;
            }
    
            .item-content{
                margin-left: 11px;
  
                &:hover {
                    margin-left: 0;
                    transition: all 500ms ease;
                }
            }
        }
    }
    
    .sidemenu-hover.toggled{
        width: 60px !important;
        min-width: 60px !important;
    }
  }
  
  .service__icon{
    margin-block: 15px;
    margin-inline: 6px;
  }
  
  .gallery__content{
    display: flex;
    flex-wrap: wrap;
  }
  
  
  .i-sidemenu {
    position: fixed;
    right: 0; /* Set right to 0 to position the sidebar on the right side */
    z-index: 1000; /* Adjust z-index as needed */
  }
  
  .i-sidemenu .sidebar-content {
      border-top-left-radius: 50px;
       border-bottom-left-radius: 50px;
       border-top-right-radius: unset !important;
       border-bottom-right-radius: unset !important;
  }